.header {
    background-color:#f0f0f0;
    color: black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  
  .header-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
  }
  
  .header-nav nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 100vh;
    padding: 0 12.5vh;
    margin-top: 15px;
  }

.header-nav a {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #3498db;
    
}

.header-nav a:active {
    text-decoration: underline;
    color: orange;
}

.logo-header {
    width: 50px;
    height: auto;
    position: absolute;
    left: 2%;
    top: 50%;
}

.body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.central {
    display:flex;
    height: 80vh;
    background-color: #FFFFFF;
    align-items: flex-start;
    padding-right: 20vh;
    padding-left: 25vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-right: 20vh;
    padding-left: 25vh;
    margin-block-start: 80px;
    font-family:Arial, Helvetica, sans-serif
}

.information-box {
    width: 100%;
    max-width: 600px;
    background-color: #f0f0f0;
    padding-right: 20vh;
    padding-left: 25vh;
    border: 1px solid;
    border-radius: 8px;
    
}

.information-box h2 {
    text-align: center;
    font-size: 40px;
    color: #2C3E50;
    padding-top: 5px;
    padding-bottom: 10px;
}

.information-box p {
    font-size: 20px;
    color: #545c5c;
    text-align: justify;
    line-height: 1.6;
}

.aboutme_picture {
    margin: 20px 40px;
    display: inline-flex;
    width: 210px;
    height: auto;
    
}
.central-content {
    width: fit-content;
    text-align: center;
}

.central-content h1 {
    font-size: 30px;
    color: #2C3E50;
    padding-top: 5px;
    padding-bottom: 10px;
}

.central-content p {
    font-size: medium;
    color: #545c5c;
}

.central-content li {
    text-align: left;
    color:#545c5c;
}

.about-section {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
}

.about-section p {
    margin: 10px;
}

.about-section h1, .about-section h2 {
    color: #333;
}

.about-section ul {
    list-style: disc;
    padding-left: 15px;
}

.about-section ul li {
    margin-bottom: 5px;
}

.footer {
    height: 50px;
    width: 100%;
    color: #7f8c8d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    flex: 1;

}

.aside-section {
    text-align: start;
    padding: 10px;
}

.aside-section a {
    margin: 0 20px;
}

.logo-footer {
    width: 50px;
    height: auto;
}
  
.form-container {
    width: 100%;
    max-width: max-content;
    background-color: #f0f0f0;
    padding-right: 20vh;
    padding-left: 25vh;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 40px;
}


.no-points {
    list-style: none;
    text-align: left;
    justify-content: space-around;
    
}

.no-points li {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #2C3E50;
    
}


.button-container button {
    width: 150px;
    padding: 8px;
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    color: #2C3E50;
    background-color: rgb(245, 191, 91);
}
.no-points label {
    margin-bottom: 10px;
    text-align: left;
}

.no-points input {
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    height: 80px;
}
